[package]
name = "xtask"
version = "0.1.0"
edition = "2024"

[dependencies]
clap.workspace = true
anyhow.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
ctrlc = "3.4.5"
scopeguard = "1.2.0"

[target.'cfg(unix)'.dependencies]
libc = "0.2.172"
