@import 'tailwindcss';

@theme {
  --font-mono:
    'Cascadia', 'Cascadia Mono', 'Cascadia Code', 'JetBrains Mono', 'Iosevka',
    'Source Code Pro', 'Fira Code', monospace;
}

body {
  @apply font-mono;
}
