[package]
name = "monoxide-spiro"
authors.workspace = true
version.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
spiro-sys.workspace = true

[dev-dependencies]
insta = "1.44.1"
