name: test

on:
  pull_request:
  push:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always

jobs:
  rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: |
          uv python install
          uv sync --locked --all-extras --dev

      - uses: Swatinem/rust-cache@v2

      - uses: dtolnay/rust-toolchain@stable

      - name: Test native build
        run: cargo build --verbose --locked

      - name: Run simple tests
        run: cargo test --workspace

      - name: Run heavy tests
        run: cargo test --workspace -- --ignored

      - name: Check font generation
        run: |
          cargo run
          uv run python ./tools/ttf-verify.py out.ttf
