name: test

on:
  pull_request:
  push:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always

jobs:
  rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7

      - uses: Swatinem/rust-cache@v2

      - uses: dtolnay/rust-toolchain@stable

      - name: Test native build
        run: cargo build --verbose --locked

      - name: Run simple tests
        run: cargo test --workspace

      - name: Run heavy tests
        run: cargo test --workspace -- --ignored

      - name: Check font generation
        run: |
          # Generate the font file as `out.ttf`.
          cargo run

          # Dump info using xml. The process read all data in the file, so it
          # will fail if the file is corrupted.
          uvx --from fonttools ttx out.ttf

          # Convert the XML back to TTF for an additional round of error
          # checking.
          uvx --from fonttools ttx out.ttx
